{
  "cluster": "{{cluster}}",
  "taskDefinition": "{{ task_definition_arn }}",
  "overrides": {
    "containerOverrides": [
      {
        "name": "background",
        "command": {{ command }},
        "memory": {{ run_command_memory}},
        "cpu": {{ run_command_cpu}}
      }
    ]
  }
}
