{
    "cluster": "{{ cluster }}",
    "serviceName": "backend",
    "taskDefinition": "{{ task_definition_arn }}",
    "loadBalancers": [
        {
            "targetGroupArn": "{{ lb_target_group_arn }}",
            "containerName": "nginx",
            "containerPort": 80
        }
    ],
    "desiredCount": {{ backend_desired_count }},
    "role": "/ecs/{{ ecs_lb_role }}",
    "deploymentConfiguration": {
        "maximumPercent": 200,
        "minimumHealthyPercent": 50
    }
}
